/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #24292e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #218838;
}

#results {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.repository {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.repository h2 {
    margin: 0 0 10px;
}

.repository p {
    margin: 0;
}
